# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/first_app_react/node_modules
/first_app_react/.pnp
/first_app_react/.pnp.js

# testing
/first_app_react/coverage

# production
/first_app_react/build

# misc
/first_app_react/.DS_Store
/first_app_react/.env.local
/first_app_react/.env.development.local
/first_app_react/.env.test.local
/first_app_react/.env.production.local

/first_app_react/npm-debug.log*
/first_app_react/yarn-debug.log*
/first_app_react/yarn-error.log*